<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBEh2i2_Z5i0VTjo_pAlD43QmErZhpuEY</string>
	<key>GCM_SENDER_ID</key>
	<string>273030865083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.dairymanagementsystem</string>
	<key>PROJECT_ID</key>
	<string>test-74e83</string>
	<key>STORAGE_BUCKET</key>
	<string>test-74e83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273030865083:ios:0b15e46c4e776ffaf3899e</string>
</dict>
</plist>